body {
    background-image: url(forras/hatter.jpeg);
    background-repeat: no-repeat;
    background-size: 115%;
}

@media screen and (max-width: 1430px){
    body {
        background-size: 200%;
    }
}

@media screen and (max-width: 574px){
    body {
        background-size: 600%;
        transition: .5s;
    }
}