body {
    background-image: url('forras/hatter.jpeg');
    background-repeat: no-repeat;
    background-size: 115%;
}

@media screen and (max-width: 1430px){
    body {
        background-size: 200%;
    }
}

@media screen and (max-width: 574px){
    body {
        background-size: 600%;
        transition: .5s;
    }
}

#olimpia_jegtanc_kep{
    width: 100%;
}

#olimpia_noi{
    width: 60%;
}
#olimpia_noi th{
    border: 1px dotted black;
}
#olimpia_noi td{
    border: 1px solid black;
}
